<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="./footer.css">
</head>

<body>
    <div class="footerbody">
        <ul class="footerheadings">
            <li class="footerh1">
                <h4>Company</h3>
            </li>
            <li class="footerh2">
                <h4>Contact</h3>
            </li>
            <li class="footerh3">
                <h4>Legal</h3>
            </li>
        </ul>
        <div class="footeritems">
            <ul class="footerlist1">
                <li class="footerl1">About Us</li>
                <li class="footerl1">Team</li>
                <li class="footerl1">Careers</li>
                <li class="footerl1">Swiggy Blog</li>
                <li class="footerl1">Bug Bounty</li>
                <li class="footerl1">Swiggy One</li>
                <li class="footerl1">Swiggy Corporate</li>
                <li class="footerl1">Swiggy Instamart</li>
                <li class="footerl1">Swiggy Genie</li>
            </ul>
            <ul class="footerlist2">
                <li class="footerl2">Help & support</li>
                <li class="footerl2">Partner with us</li>
                <li class="footerl2">Ride with us</li>
            </ul>
            <ul class="footerlist3">
                <li class="footerl3">Terms & conditions</li>
                <li class="footerl3">Refund & Cancellation</li>
                <li class="footerl3">Refund Policy</li>
                <li class="footerl3">Cookie policy</li>
                <li class="footerl3">Privacy policy</li>
            </ul>
        </div>
    </div>
</body>

</html>